<div class="content game-menu">
    <div class="left-side">
        <div>
            <ul>
                <li style="flex-direction: column">
                    <h1>Game Mode</h1>
                </li>
                <li style="flex-direction: column">
                    <button class="button-9 blue" role="button" (click)="choosePlayMode('computer')">Computer (AI
                        bot)</button>
                </li>
                <li style="flex-direction: column">
                    <button class="button-9 blue" role="button" (click)="choosePlayMode('online')">Play Online</button>
                </li>
            </ul>
        </div>
        <table>
            <tr *ngIf="gameMode === 'computer'">
                <td colspan="2">
                    <h3>Choose your side</h3>
                </td>
            </tr>
            <tr *ngIf="gameMode === 'computer'">
                <td>
                    <button class="button-9" role="button" style="display: inline-block;"
                        (click)="computerModeColor('black')"><img src="./black_piece.png" alt="Black Piece"
                            height="40" /></button>
                </td>
                <td>
                    <button class="button-9" role="button" style="display: inline-block;"
                        (click)="computerModeColor('red')"><img src="./red_piece.png" alt="Red Piece"
                            height="40" /></button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="button-9 red" role="button" (click)="backMenu()">Back</button>
                </td>
            </tr>
        </table>
    </div>
</div>