<div class="choose-container glass-panel">
    <h1>Select Game Mode</h1>
    <div class="mode-selection">
        <button class="button-9 blue" (click)="choosePlayMode('computer')">
            <i class="fas fa-robot" style="margin-right: 12px;"></i> Play vs Computer
        </button>
        <button class="button-9 blue" (click)="choosePlayMode('online')">
            <i class="fas fa-globe" style="margin-right: 12px;"></i> Play Online
        </button>
    </div>

    <div *ngIf="gameMode === 'computer'">
        <h3>Select Your Side</h3>
        <div class="side-selection">
            <button class="side-btn" (click)="computerModeColor('black')" title="Play as Black">
                <img src="./black_piece.png" alt="Black Piece" />
            </button>
            <button class="side-btn" (click)="computerModeColor('red')" title="Play as Red">
                <img src="./red_piece.png" alt="Red Piece" />
            </button>
        </div>
    </div>

    <button class="button-9 red" (click)="backMenu()">
        <i class="fas fa-arrow-left" style="margin-right: 12px;"></i> Back to Menu
    </button>
</div>