<div class="content game-menu">
    <div class="left-side">
        <div *ngIf="!gameMode">
            <ul>
                <li style="flex-direction: column">
                    <h1>Game Mode</h1>
                </li>
                <li style="flex-direction: column">
                    <button class="button-9" role="button" (click)="choosePlayMode('computer')">Computer (AI bot)</button>
                </li>
                <li style="flex-direction: column">
                    <button class="button-9" role="button" (click)="choosePlayMode('online')">Play Online</button>
                </li>
            </ul>
        </div>
        <table *ngIf="gameMode">
            <tr *ngIf="gameMode === 'computer'">
                <td colspan="2">
                    <h3>Choose your side</h3>
                </td>
            </tr>
            <tr *ngIf="gameMode === 'computer'">
                <td>
                    <button class="button-9" role="button" style="display: inline-block;" (click)="computerModeColor('black')"><img src="./black_piece.png" alt="Black Piece" height="40" /></button>
                </td>
                <td>
                    <button class="button-9" role="button" style="display: inline-block;" (click)="computerModeColor('red')"><img src="./red_piece.png" alt="Red Piece" height="40" /></button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="button-9" role="button" (click)="backMenu()">Back</button>
                </td>
                <td>
                    <button class="button-9" role="button" (click)="newGame()">Start Game</button>
                </td>
            </tr>
        </table>
        <div *ngIf="(player$ | async)?.is_guest == true">
            <hr />
            Welcome, <b>{{ (player$ | async)?.displayName }}</b> <button class="button-31" role="button" (click)="logIn()">Log In</button> <button class="button-31" role="button" (click)="signUp()">Sign Up</button>
        </div>
        <div *ngIf="(player$ | async)?.is_guest == false">
            <hr />
            Welcome, <b>{{ (player$ | async)?.displayName }}</b> <button class="button-31" role="button" (click)="logOut()">Log Out</button>
        </div>
    </div>
    <div *ngIf="gameMenu" class="right-side">
        <img src="./Draughts.png" alt="Checkers" width="90%" />
    </div>
</div>