<div class="content game-menu">
    <div class="left-side">
        <div *ngIf="!gameMode">
            <ul>
                <li style="flex-direction: column">
                    <h1>Game Mode</h1>
                </li>
                <li style="flex-direction: column">
                    <button class="button-9" role="button" (click)="choosePlayMode('single')">Single Player (AI bot)</button>
                </li>
                <li style="flex-direction: column">
                    <button class="button-9" role="button" (click)="choosePlayMode('multi')">Two Players (Local)</button>
                </li>
                <li style="flex-direction: column">
                    <button class="button-9" role="button" (click)="choosePlayMode('online')">Play Online</button>
                </li>
            </ul>
        </div>
        <table *ngIf="gameMode">
            <tr *ngIf="gameMode === 'single'">
                <td colspan="2">
                    <h3>Choose your side</h3>
                </td>
            </tr>
            <tr *ngIf="gameMode === 'single'">
                <td>
                    <button class="button-9" role="button" style="display: inline-block;" (click)="singleModeColor('black')"><img src="./black_piece.png" alt="Black Piece" height="40" /></button>
                </td>
                <td>
                    <button class="button-9" role="button" style="display: inline-block;" (click)="singleModeColor('red')"><img src="./red_piece.png" alt="Red Piece" height="40" /></button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="button-9" role="button" (click)="backMenu()">Back</button>
                </td>
                <td>
                    <button class="button-9" role="button" (click)="newGame()">Start Game</button>
                </td>
            </tr>
        </table>
        <div>
            <hr />
            <button class="button-31" role="button" (click)="logIn()">Log In</button> <button class="button-31" role="button" (click)="signUp()">Sign Up</button> to play online!
        </div>
    </div>
    <div *ngIf="gameMenu" class="right-side">
        <img src="./Draughts.png" alt="Checkers" width="90%" />
    </div>
</div>