
<style>
  
</style>

<main class="main">
  <router-outlet />

  <!-- <div class="content game-menu" *ngIf="gameMenu">
    <div *ngIf="!gameMode">
      <ul>
        <li style="flex-direction: column">
          <h1>Game Mode</h1>
        </li>
        <li style="flex-direction: column">
          <button class="pill btn" (click)="choosePlayMode('single')">Single Player (AI bot)</button>
        </li>
        <li style="flex-direction: column">
          <button class="pill btn" (click)="choosePlayMode('multi')">Two Players (Local)</button>
        </li>
        <li style="flex-direction: column">
          <button class="pill btn" (click)="choosePlayMode('online')">Play Online</button>
        </li>
      </ul>
    </div>
    <table *ngIf="gameMode">
      <tr *ngIf="gameMode === 'single'">
        <td colspan="2">
          <h3>Choose your side</h3>
        </td>
      </tr>
      <tr *ngIf="gameMode === 'single'">
        <td>
          <button class="pill btn" style="display: inline-block;" (click)="singleModeColor('black')"><img src="./black_piece.png" alt="Black Piece" height="40" /></button>
        </td>
        <td>
          <button class="pill btn" style="display: inline-block;" (click)="singleModeColor('red')"><img src="./red_piece.png" alt="Red Piece" height="40" /></button>
        </td>
      </tr>
      <tr>
        <td>
          <button class="pill btn" (click)="backMenu()">Back</button>
        </td>
        <td>
          <button class="pill btn" (click)="newGame()">Start Game</button>
        </td>
      </tr>
    </table>
  </div> -->
  <!-- <div *ngIf="gameMenu">
    <img src="./Draughts.png" alt="Checkers" width="90%" />
  </div> -->
  <!-- <div class="content" *ngIf="!gameMenu">
    <div class="left-side">
      <div>
        <p>Player ID: {{ board.playerId }}</p>
        <p>Current Turn: {{ board.turn }}</p>
      </div>
      <table class="chess-board">
        <tbody>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
            <tr *ngFor="let row of board.board">
                <th>{{board.board.indexOf(row)+1}}</th>
                <td *ngFor="let sq of row" (click)="clickBoard(sq)" class="{{sq.color}} {{ sq.selected ? 'selected' : 'none' }}">
                  <div class="watermark" *ngIf="+sq.id > 0">{{sq.id}}</div>
                  <img *ngIf="board.pieces.get(sq)" src="./{{board.pieces.get(sq)?.image}}.png" class="piece" />
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        <button class="pill btn" (click)="backMenu()">
          <span>New Game</span>
        </button>
      </div>
      <div class="history">
        <h2>Game History</h2>
        <ul>
          <li *ngFor="let move of board.getHistory()">
            {{ move.type }} to {{ move.square }}
          </li>
        </ul>
      </div>
    </div>
  </div> -->
</main>


<!--<router-outlet />!-->
