DATABASE_URL="<Your mongo Cluster connection string>"
DATABASE_NAME="<Your mongo Database name>"
SECRET_KEY="<Your JWT token secret>"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=<JWT expiration>
ISSUER="<JWT issuer>"
AUDIENCE="<JWT audience>"