<div class="start-container glass-panel">
    <div class="left-side">
        <h1>Welcome to Checkers</h1>

        <ul class="menu-list">
            <li>
                <button class="button-9 blue" (click)="play()">Play Game</button>
            </li>
            <li *ngIf="player$ | async as player">
                <button *ngIf="!player.is_guest" class="button-9 orange" (click)="history()">
                    Game History
                </button>
            </li>
        </ul>

        <div class="player-info" *ngIf="player$ | async as player">
            <span class="welcome-text">Welcome back,</span>
            <b>{{ player.displayName }}</b>
            <div class="player-actions">
                <button *ngIf="!player.is_guest" class="button-31" (click)="accountProfile()">
                    <i class="fas fa-user-circle"></i> Profile
                </button>
                <button *ngIf="!player.is_guest" class="button-31" (click)="logOut()">
                    <i class="fas fa-sign-out-alt"></i> Log Out
                </button>
            </div>
        </div>

        <ul class="auth-links" *ngIf="!(player$ | async) || (player$ | async)?.is_guest">
            <li>
                <button class="button-9 green" (click)="signUp()">Create Account</button>
            </li>
            <li>
                <button class="button-9 red" (click)="logIn()">Sign In</button>
            </li>
        </ul>
    </div>

    <div class="right-side">
        <img src="./Draughts.png" alt="Checkers Board" />
    </div>
</div>