<div class="content">
    <div class="left-side">
      <div>
        <p>Current Turn: {{ board.turn }}</p>
      </div>
      <div>
        Player 1 {{ opponentId }} Opponent Side: {{ opponentSide }}
      </div>
      <table class="chess-board">
        <tbody>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
            <tr *ngFor="let rowEntry of board">
                <th>{{rowEntry.row+1}}</th>
                <td *ngFor="let sq of rowEntry.squares" (click)="clickBoard(sq)" class="{{sq.color}} {{ sq.selected ? 'selected' : 'none' }}">
                  <div class="watermark" *ngIf="+sq.id > 0">{{sq.id}}</div>
                  <img *ngIf="board.pieces.get(sq)" src="./{{board.pieces.get(sq)?.image}}.png" class="piece" />
                </td>
            </tr>
        </tbody>
      </table>
      <div style="margin-top: 10px;">
        Player 2 {{ board.playerId }} Player Side: {{ playerSide }}
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        <button class="pill btn" (click)="backMenu()">
          <span>New Game</span>
        </button>
      </div>
      <div class="history">
        <h2>Game History</h2>
        <ul>
          <li *ngFor="let move of board.getHistory()">
            {{ move.move }}
          </li>
        </ul>
      </div>
    </div>
  </div>